---
Url: index.html
Title: "Data warehouse fácil"
Description: "Data warehouse fácil recoje buenas prácticas en entornos DWH/Business Intelligence. Contiene los mejores artículos de Ralph Kimball en español."
---
<!DOCTYPE html>
<html lang="en">
	@Include("layouts\head.cshtml")
	@{var ultimos=(from article in Site.Pages orderby article.Date descending select article).Take(5);}
	<body class="home">
		<div class="cabecera-home">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 logo-desktop">
						<a class="header-divider" href="index.html"><img src="@Root/images/logo-datawarehouse-white.png" width="250" height="25" alt="" /></a>
						<a class="indice" href="kimball-archive.html">Índice Artículos</a>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 boton-desktop">
						<a class="btn btn-lg btn-header" href="ralph-kimball-books.html" role="button">Comprar Libro</a>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row row-menu-home">
					<ul class="nav nav-pills">
						<li><a class="scroll" href="#presentacion">Presentación</a></li>
						<li><a class="scroll" href="#suscribirse">Suscribirse</a></li>
						<li><a class="scroll" href="#articulos">Artículos</a></li>
						<li><a class="scroll" href="#about-kimball">Kimball Group</a></li>
						<li><a class="scroll" href="#ralph-kimball">Ralph Kimball</a></li>
						<li><a class="scroll" href="#crono">Crono</a></li>
					</ul>
					<div class="recientes">
						<div>
							<h4>ÚLTIMOS ARTÍCULOS</h4>
							@foreach(var article in ultimos.Take(3)){
								<p><a href="@Root/@article.Url">@article.Title</a></p>
							}						
						</div>
					</div>
				</div>

			</div>
		</div>
	
		<div id="presentacion" class="presentacion">
			<div class="container">
				<h3>¿Qué es esto?</h3>
				<div class="row">
					<div class="col-md-3">
						<img class="img-responsive center-block" src="images/libro-rojo.png" width="182" height="200" alt="" />
					</div>
					<div class="col-md-9">
						<p>En esta web encontrarás los <strong>artículos de Kimball Group</strong> traducidos al español. Se trata de artículos excepcionales sobre el diseño y buenas prácticas en entornos <strong>Datawarehouse</strong>. Todos los artículos son de sus respectivos autores. Los artículos originales, en inglés, puedes consultarlos en la web de <a href="http://www.kimballgroup.com/" style="text-decoration:underline;">Kimball Group.</a></p>
						<p>Pretendemos ayudar a la divulgación de estas buenas prácticas para mejorar el diseño, construcción y mantenimiento de los datawarehouse en nuestras organizaciones. También te animamos a comprar los libros de Ralph Kimball y de todo su equipo. No te arrepentirás.</a></p>
					</div>
				</div>
			</div>
		</div>
	
		<div id="suscribirse" class="suscribete">
			<div class="container">
				<h3>Suscríbete</h3>
				<div class="row">             
					<div class="col-md-7">
						<p>De momento solo hemos traducido unos pocos artículos (cada vez más), pero seguiremos trabajando para traducirlos todos.</p>
						<p><strong>Suscríbete</strong> si quieres recibir los nuevos artículos directamente en tu bandeja de entrada, y formarás parte de la comunidad “Business Intelligence fácil” de profesionales BI/DWH.</p>
						<a class="boton-suscribete" role="button" href="@Root/subscribe.html">Quiero Suscribirme</a>
					</div>
					<div class="col-md-5">
						<img class="img-responsive center-block buzon" src="images/suscribete.png" width="408" height="250" alt="" />
					</div>
				</div>
			</div>
		</div>
		
		<div id="articulos" class="last-articles">
			<div class="container">
				<h3>Últimos artículos traducidos</h3>
				<div class="row espacio-articles">
					@foreach(var article in ultimos.Take(3)){
					<div class="col-md-4">
						<div>
							<a class="boton-last-articles" href="@Root\@article.Url">
								<h4>@article.Title</h4>
								<p>@article.ShortDate</p>
							</a>
						</div>
					</div>
					}
				</div>   
				<div class="row espacio-articles">
					@foreach(var article in ultimos.Skip(3).Take(2)){
					<div class="col-md-4">
						<div>
							<a class="boton-last-articles" href="@Root\@article.Url">
								<h4>@article.Title</h4>
								<p>@article.ShortDate</p>
							</a>
						</div>
					</div>
					}
					<div class="col-md-4">
						<div>
							<a class="boton-more-articles" href="@Root\kimball-archive.html">
								<h4>Ver todos los artículos</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="about-kimball" class="about-kimball">
			<div class="container">
				<h3>Sobre Kimball Group</h3>
				<div class="row">
					<div class="col-md-9">
						<p><strong>The Kimball Group</strong> was a focused team of senior consultants specializing in the design of effective data warehouses to deliver enhanced business intelligence.</p>
						<p>Averaging over <strong>30 years of experience</strong> in the field, our vendor-independent team had the know-how to relate to a broad range of client situations, and the insight to react to the elements that make each distinct. Plus the aptitude and attitude to look out for our clients' best interests at all times. We wrote the best-selling books on dimensional modeling and DW/BI methodology. And every day, we surrounded our clients with more ways to make smarter decisions.</p>
						<p>The Kimball Group closed its doors on December 31, 2015. Thanks to all the data warehouse and business intelligence professionals who crossed our paths during the last 30+ years. We appreciated your support!</p>
					</div>
					<div class="col-md-3">
						<img class="img-responsive center-block" src="images/kimball-group.jpg" width="214" height="250" alt="" />
					</div>
				</div>
			</div>
		</div>
		
		<div id="ralph-kimball" class="crono">
			<div class="container">
				<div class="row">
					<div class="col-md-7 ralph-kimball">
						<h3>Sobre Ralph Kimball</h3>
						<div class="col-md-4">
							<img class="img-responsive center-block" src="images/ralph-kimball.jpg" width="auto" alt="" />
						</div>
						<div class="col-md-8">
							<p>Ralph Kimball founded the Kimball Group. Since the mid-1980s, he was the DW/BI industry's thought leader on the dimensional approach and trained more than 20,000 students. Prior to working at Metaphor and founding Red Brick Systems, Ralph co-invented the first commercially-available workstation with a graphical user interface at Xerox's Palo Alto Research Center (PARC). Ralph has his Ph.D. in Electrical Engineering from Stanford University.</p>
						</div>
					</div>
					<div id="crono" class="col-md-5 col-crono">
						<h3>Sobre Crono Business Intelligence</h3>
						<p>Traducir los artículos de Kimball Group y ponerlo a disposición de la comunidad de habla hispana es una iniciativa de Pau Urquizu y de todo el equipo de Crono.</p>
						<p>Crono Business Intelligence es una empresa española especializada en proyectos Data Warehouse y Business Intelligence. Crono dispone de soluciones propias que destacan por su facilidad de uso.</p>
						<a href="https://businessintelligence.es/">
							<img class="img-responsive crono-right" src="@Root/images/logo-crono.png" width="291" height="80" alt="" />
						</a>
					</div>
				</div>
			</div>
			<p class="nota">Ni Ralp Kimball ni Kimball Group tienen ninguna relación directa con esta página ni con Crono.</p>
		</div>
		
		@Include("layouts/footer.cshtml")
		@Include("layouts/scripts.cshtml")
		<script>
			$(document).ready(function(){
				$(".scroll").click(function(event){
					//bloqueamos la función del anchor original
					event.preventDefault();
					//dirigimos de manera animada al id del anchor
					$('html,body').animate({
						//le indicamos al scroll vertical que se dirija al objeto con el id
						//guardado en el anchor a su posición top.
						scrollTop:$(this.hash).offset().top
					},1000);
				});
			});
		</script>
	</body>
</html>
