---
Url: kimball-archive.html
Title: Índice de artículos
Description: "Artículos de Kimball Group sobre recomendaciones y buenas prácticas datawarehousing."
---
<!DOCTYPE html>
<html lang="en">
	@Include("layouts/head.cshtml")
	<body>
		@Include("layouts/navigation.cshtml")
		<div class="cabecera">
			<div class="container">
				<h1>@Page.Title</h1>
			</div>
		</div>

		<div class="container contenido">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 blog-main">
					<div class="blog-post">
						@foreach(var item in Site.Sections){
							<h2>@item.Title</h2>
							<ul class="list-styled-blog">
								@foreach(var page in @Site.Pages){
								<li><a href="@Root\@page.Url">@page.Title</a> <span class="year">@page.Date.Year</span></li>
								}
							</ul>
						}
					</div>
				</div>
			</div>
		</div>

		<div class="libro-categories">
			<div class="container foot">
				<div class="row">
					<div class="col-md-3">
						<a href="#"><img class="libro-image" src="@Root/images/libro.png" width="192" height="250" alt="" /></a>
					</div>
					<div class="col-md-9 ajuste-banda">
						<h4 class="about-libro">Adquiere el Libro <span class="libro-name">"The Kimball Group Reader, Remastered Collection"</h4>
						<div class="col-md-3">
							<a href="https://www.amazon.com/gp/product/1119216311?ie=UTF8&tag=decworks-20&lin%20kCode=xm2&camp=1789&creativeASIN=1119216311"><img src="@Root/images/boton-amazon.png" width="180" height="42" alt="" /></a>
						</div>
						<div class="col-md-9">
							<p class="libro-p-categories">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		@Include("layouts/footer.cshtml")
		@Include("layouts/scripts.cshtml")
	</body>
</html>
