---
Url: ralph-kimball-books.html
Title: Libros de Ralph Kimball
Description: "Estos libros de Ralph Kimball forman el estándar de facto sobre el diseño dimensional e implementación de sistemas Data Warehouse y Business Intelligence."
---
<!DOCTYPE html>
<html lang="en">
	@Include("layouts/head.cshtml")
	<body>
		@Include("layouts/navigation.cshtml")
		<div class="cabecera">
			<div class="container">
				<h1>@Page.Title</h1>
			</div>
		</div>
		<div class="container contenido">
			<div class="row after-content">
				<div class="col-md-12">
					<h2 class="header-libros">Los imprescindibles: Data Warehouse Toolkit de Kimball</h2>
					<p>Estos libros forman el estándar de facto sobre el diseño dimensional e implementación de sistemas Data Warehouse y Business Intelligence. Incluyen multitud de recomendaciones y técnicas que cualquier profesional BI debe conocer y aplicar. Estos libros deberían estar en la biblioteca de cualquier profesional BI.. Se han vendido más de 400.000 copias de estos libros.</p>
					<p>Si acabas de empezar y deseas tener una visión general sobre la metodología Kimball, comienza por “Data Warehouse Lifecycle Toolkit”. “Data Warehouse Toolkit” incluye la técnicas de diseño dimensional en detalle, mientras que “ETL Toolkit” es apropiado para entender la arquitectura del sistema ETL.</p>
				</div>
			</div>
			<div class="row books-row">
				<div class="col-md-6 books-responsive">
					<div class="col-md-7">
						<a href="http://amzn.to/2ee2oOB"><img class="img-responsive center-block" src="images/data-warehouse-toolkit.jpg" width="180" height="235" alt="" /></a>
					</div>
					<div class="col-md-5 ajuste-libros">
						<a href="http://amzn.to/2ee2oOB">
							<h3 class="book-title">The Data Warehouse Toolkit, Third Edition: The Definitive Guide to Dimensional Modeling</h3>
						</a>
						<p>
							<a href="http://amzn.to/2ee2oOB">
								<img class="center-block amazon-responsive" src="@Root/images/boton-amazon.png" width="150" height="35" alt="" />
							</a>
						</p>
					</div>
				</div>
				<div class="col-md-6 books-responsive">
					<div class="col-md-7">
						<a href="http://amzn.to/2fi5y4Q"><img class="img-responsive center-block" src="images/lifecycle-toolkit.jpg" width="180" height="235" alt="" /></a>
					</div>
					<div class="col-md-5 ajuste-libros">
						<a href="http://amzn.to/2fi5y4Q"><h3 class="book-title">The Data Warehouse Lifecycle Toolkit, Second Edition: Practical Techniques for Building Data Warehouse and Business Intelligence Systems</h3></a>
						<p>
							<a href="http://amzn.to/2fi5y4Q"><img class="center-block amazon-responsive" src="@Root/images/boton-amazon.png" width="150" height="35" alt="" /></a>
						</p>
					</div>
				</div>
			</div> 
      
			<div class="row books-row">
				<div class="col-md-6 books-responsive">
					<div class="col-md-7">
						<a href="http://amzn.to/2fi48Yp"><img class="img-responsive center-block" src="images/etl-toolkit.jpg" width="180" height="235" alt="" /></a>
					</div>
					<div class="col-md-5 ajuste-libros">
						<a href="http://amzn.to/2fi48Yp">
							<h3 class="book-title">The Data Warehouse ETL Toolkit: Practical Techniques for Extracting, Cleaning, Conforming, and Delivering Data</h3>
						</a>
						<p>
							<a href="http://amzn.to/2fi48Yp">
								<img class="center-block amazon-responsive" src="@Root/images/boton-amazon.png" width="150" height="35" alt="" />
							</a>
						</p>
					</div>
				</div>
				<div class="col-md-6 books-responsive">
					<div class="col-md-7">
						<a href="http://amzn.to/2edYWDZ">
							<img class="img-responsive center-block" src="images/toolkit-classics.jpg" width="180" height="235" alt="" />
						</a>
					</div>
					<div class="col-md-5 ajuste-libros">
						<a href="http://amzn.to/2edYWDZ">
							<h3 class="book-title">Kimball’s Toolkit Classics: Data Warehouse Toolkit, Third Edition; Data Warehouse Lifecycle Toolkit, Second Edition; Data Warehouse ETL Toolkit</h3>
						</a>
						<p>
							<a href="http://amzn.to/2edYWDZ">
								<img class="center-block amazon-responsive" src="@Root/images/boton-amazon.png" width="150" height="35" alt="" />
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="row books-row-last">
				<div class="col-md-12 books-responsive">
					<h2 class="header-libros">¡El último libro de Kimball!</h2>
					<p class="libro-p after-content">A lo largo de los últimos 20 años, los miembros de Kimball Group han escrito cerca de 300 artículos, recomendaciones y white papers. <strong>The Kimball Group Reader, Remastered Collection</strong> constituye la mejor recopilación de todo este contenido, totalmente actualizado para mostrar su pensamiento actualizado, junto a las mejores recomendaciones y prácticas a partir de su amplísima experiencia. </p>
					<div class="col-md-6 books-responsive">
						<div class="col-md-7">
							<a href="http://amzn.to/2ee3QAM"><img class="img-responsive center-block" src="@Root/images/libro.png" width="180" height="235" alt="" /></a>
						</div>
						<div class="col-md-5 ajuste-libros">
							<a href="http://amzn.to/2ee3QAM"><h3 class="book-title">The Data Warehouse ETL Toolkit: Practical Techniques for Extracting, Cleaning, Conforming, and Delivering Data</h3></a>
							<p><a href="http://amzn.to/2ee3QAM"><img class="center-block amazon-responsive" src="@Root/images/boton-amazon.png" width="150" height="35" alt="" /></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		@Include("layouts/footer.cshtml")
		@Include("layouts/scripts.cshtml")
	</body>
</html>
