<!DOCTYPE html>
<html lang="en">
	@Include("layouts/head.cshtml")
	<body>
		@Include("layouts/navigation.cshtml")

		<div class="cabecera">
			<div class="container">
				<h2>@Page.Title</h2>
				<p>Publicado por <strong>@Page.Author.Name</strong> en <strong>@Page.SecondaryDate.Year</strong></p>
				<p>Archivado en <a href="@Root\kimball-archive.html#@Page.Category.Code">@Page.Category.Name</a></p>
			</div>
		</div>

		<div class="container contenido">
			<div class="row">
				<div class="col-md-12 after-content">
					@RenderBody()
				</div>
			</div>
		</div>
		
		<div class="author">
			<div class="container foot">
				<div class="row">
					<div class="col-md-3">
						<a href="#">
							<img class="author-image img-responsive" src="@Root/images/@Page.Author.Image" width="250" height="318" alt="@Page.Author.Name" />
						</a>
					</div>
					<div class="col-md-9">
						<h4 class="about-author">Sobre el autor: <span class="author-name">@Page.Author.Name</h4>
						<p>@Page.Author.Description</p>
					</div>
				</div>
			</div>
		</div>
    
		<div class="pre-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<a href="http://amzn.to/2ee3QAM"><img class="boton-comprar" src="@Root/images/boton-amazon.png" width="250" height="58" alt="" /></a>
					</div>
					<div class="col-md-6 titulo-libro">
						<h4 class="libro-recomendado">Libro recomendado</h4>
						<h5 class="libro">"The Kimball Group Reader, Remastered Collection"<h5>
					</div>
					<div class="col-md-3">
						<a href="http://amzn.to/2ee3QAM"><img class="img-responsive center-block" src="@Root/images/libro.png" width="192" height="250" alt="" /></a>
					</div>
				</div>
			</div>
		</div>
		@Include("layouts/footer.cshtml")
		@Include("layouts/scripts.cshtml")
	</body>
</html>
